*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 100%;
  animation: load 300ms ease-in 500ms;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

body {
  font-size: 15px;
}

a,
a:active,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 1.25rem;
  margin: 0 auto;
  max-width: 375px;
}

.mobile_menu_links {
  text-transform: uppercase;
}

@keyframes load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY((0px));
    opacity: 1;
  }
}
